/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h2 {
  color: maroon;
  font-size: 130%;
  font-style: italic;
  display: block;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid black;
}
th .normal{
  border: 3px solid white;
  font-weight: bold;
  color: DarkSlateGrey;
  background-color: wheat;
}
th .original {
  border: 3px solid white;
  font-weight: bold;
  color: maroon;
  background-color: wheat;
  border-bottom: 1px solid maroon}
th .hilite {
  border: 2px solid white;
  font-weight: bold;
  color: maroon;
  background-color: yellow;
  border-bottom: 1px solid maroon
}
